/**
 * @description   Styling of the Shopping-Cart as a Drop-Down Menu (as of writing, layout's header)
 */

@import '../../../../../../styles/colors';

// So we're not wrapping this one with a parent element to restrict the styling to the component (view) since this component's instance will be injected in a overlay, separate to that view component
shopping-cart {
  width: 16rem;  
  article {
    background-color: $white;
    border: .05rem solid $primary;
    border-radius: .25rem;
    padding: .75rem .5rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: .1rem;
      .close {
        width: auto;
        height: auto;
        font-size: .8rem;
        margin-left: 1rem;
        margin-right: .25rem;
        &:hover {
          cursor: pointer;
        }
      }
      .row-number {
        margin-left: .25rem;
        margin-right: .25rem;
      }
    }
  }
}