@import '../../../../../../styles/layout';
@import '../../../../../../styles/breakpoints';

.selected-book-container {
  height: calc(100vh - #{$header-height});
  .inner-container {
    padding: 1rem;
  }
}

@media(max-width: $medium) {
  .book-details {
    img {
      width: 100%;
    }
  }
}

.add-to-basket-btn-container {
  padding: 1rem;
  button {
    height: 3.5rem;
    font-size: 1.25rem;
  }
}