<section fxLayoutAlign="space-between" class="checkout-view">
  <shopping-cart></shopping-cart>
  <div>
    User data form placeholder
  </div>
</section>
<section style="margin:4rem 2rem 1rem 2rem;padding-top:2rem;border-top:1px solid gray;">
    Checkout View Placeholder<br /><br />
    1. Show Books in Basket<br />
    2. Display Form for Collecting User Info<br />
    3. Checkout submit flow<br /><br />
    We need to update the inventory... how many copies of each book do we have? Display as such.<br /><br />
    Filter tool to search books<br /><br />
</section>
