@import '../../../../../styles/colors';

.checkout-view {
  padding: 2rem;
}

checkout-user-form {
  .mat-form-field-infix {
    width: 15rem;
  }
}

checkout-submit-button {
  button.primary {
    margin-top: 4rem;
    width: 16rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}