@import '../../../../../../styles/animations/bounce-left';

.animating {
	-webkit-animation: bounce-left 0.9s both;
	        animation: bounce-left 0.9s both;
}

mat-icon {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  &:hover {
    cursor: pointer;
  }
}